:root {
  --primary-corlor: #003341;
  --secondary-corlor: #fa8c16;
  --white: #fff;
}

$primary-corlor-v1: #003341;
$primary-corlor-v2: #0C6582;
// $primary-corlor: #003341;
$secondary-corlor: #fa8c16;
$backgrou-color: #fff;


/* common */
$bg-header-color: #FFF;

// Font color
$character-fontColor-whiteMaximum: #FFF;
$character-fontColor-blackMaximum: #000000;
$character-fontColor-hover: rgb(0, 106, 255);
$character-fontColor-black: rgba(0, 0, 0, 0.87);
$character-fontColor-gray: rgba(0, 0, 0, 0.54);
$character-fontColor-gray-1: #3e3e3e;
$character-fontColor-gray-2: #AAA;
$character-fontColor-error: #EB0E00;

// border color
$input-borderColor: rgb(0, 106, 255);
$input-searchbar-border: #D1D1D5;
$box-shaddow: rgb(209, 209, 213);

$character-headerLogin: #2A2A33;
$character-headerLogin-active: rgb(0, 106, 255);
