@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
}

@font-face {
  font-family: 'Roboto bold', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
}

$font-family-main: 'Roboto', sans-serif;
$font-family-bold: 'Roboto bold', sans-serif;
